/* nie wiem co tu dodać bo nie wiem czy bedziemy robic na gridzie czy na flexie */

* {
    box-sizing: border-box;
  }

  body {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: url('../../asstets/images/background.png') no-repeat center center;
  }

  main {
    padding: 1rem;
    margin: auto;
  }

  .main{
    height: 100%;
  }
  .centered {
    text-align: center;
  }

  .App{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .line-item{
    display: inline-block;
  }

  .item-half{
    padding: 0 20px;
    width: 50%;
    height: 100%;
  }