/* nie wiem co tu dodać bo nie wiem czy bedziemy robic na gridzie czy na flexie */

* {
    box-sizing: border-box;
  }

  body {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }

  main {
    padding: 1rem;
    margin: auto;
  }

  .main{
    min-height: 80vh;
    /* background-image: url('../../asstets/images/background.png'); */
    background-color: var(--background);
  }
  .centered {
    text-align: center;
  }

  .App{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .line-item{
    display: inline-block;
  }

  .item-half{
    padding: 0 20px;
    width: 50%;
    height: 100%;
  }

  .btn {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid var(--beige);
    margin-bottom: 2rem;
    text-decoration: none;
    color: white;
    background-color: var(--beige);
    border-radius: 0.5rem;
}
.btn.blocked{
    background-color: var(--dark-grey);
    cursor: initial;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem (--shadow);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.btn.blocked:hover{
  cursor: initial;
  box-shadow: none;
  transform: none;
}

.btn:focus {
    outline: none;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform:none;
}