@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,700&family=Proza+Libre:ital,wght@0,400;1,500&display=swap');

html {
    font-size:10px;
  }
  
  body {
    font-size:1.5rem;
    color: var(--black);
  }
  
  h1, h2, h3, h4 {
    font-size: 6rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    letter-spacing:4px;
  }

  h5, h6 {
    font-size: 3rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 3rem 0;
  }
  
  a {
    text-decoration: none;
    color: var(--dark-beige);
  }
  
  p a {
    font-family: 'Proza Libre', sans-serif;
    border-bottom: 2px solid var(--dark-grey);
  }
  
  p {
    line-height: 2;
    font-size: 1.6rem;
  }