.cards-wrapper {
    display: flex;
    width: 100%;
    background-color: var(--background-color);
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 3rem;
    @media (max-width: 650px) {
        padding: 0rem; 
    }
    h5 {
        font-size: 3rem;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 400;
        letter-spacing: -1px;
        margin: 3rem 0;
        padding: 0 0.5rem;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0 5rem;
        @media (max-width: 650px) {
            padding: 0rem;
        }
        list-style: none;

        li{
        display: inline-block;
        flex-grow: 1;
        flex-basis: 0;
        margin: 2rem;
    }
    }
    
}

      
