.flex-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 20px;
    .nav-left,
    .nav-center,
    .nav-right{
        align-items: center;
        justify-content: space-around;
    }

    .nav-center{
        width: 40px;
        position: absolute;
        top:0;
        left: 0;
    }
  }