.flex-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    position: relative;
    background-color: var(--light-beige);
    color: var(--dark-beige);
    .nav-left,
    .nav-right{
        width: 50%;
        ul{
            list-style: none;
            padding: 0;
            li{
                display: inline-block;
                padding: 0 10px;
                cursor: pointer;
            }
            li:hover{
                color: var(--black);
            }
        }
    }
    .nav-left{
        text-align: left;
    }
    .nav-right{
        text-align: right;
    }

    .nav-center{
        width: 40px;
        position: absolute;
        top:0;
        left: 0;
        .nav-logo{
            width: 50px;
            height: auto;
            position: absolute;
            left: calc(50vw - 25px);
        }
    }
  }